.container
{
    /* center contents */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* colors for navbar */
.navbar-default .navbar-brand .blue
{
    color: #537fbe;
}
.navbar-default .navbar-brand .red
{
    color: #ea433b;
}
.navbar-default .navbar-brand .yellow
{
    color: #f5b82e;
}
.navbar-default .navbar-brand .green
{
    color: #2e944b;
}

.navbar-default {
    margin-bottom: 40px !important;
}
main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

main td
{
    /* left-align tables' cells */
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

table {
    width: 100%;
    empty-cells:show;
}

tr {
    border-top: 1px solid #f9f9f9;
}

th {
    border-bottom: 2px solid #ddd;
}

th, td {
    padding: 10px;
}

body {
    font-family: "Helvetica Nueue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #333;
}

#Total {
    font-weight: bold;
    border-top: 2px solid #ddd
}

.password{
    line-height:1em;
    font-size:20px;
}

.password:after {
    content: ' ';
    display:block;
    border:2px solid black;
    margin-bottom: 20px;
}